src/main/resources/DSVL.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/2001/XMLSchema">
	<xsl:include schemaLocation="DSTL.xsd" />

	<xs:complexType name="Transition">
		<xs:sequence>
			<xs:element name="Node" type="Node" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="Condition" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="Node">
		<xs:sequence>
			<xs:element name="LifecycleEventHandler" type="LifecycleEventHandler" minOccurs="1" maxOccurs="1" />
			<xs:element name="MoveNext" type="Transition" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema> 